<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>LEARN</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="#">Tutorial</a><br/>
                <a class="grey-text text-lighten-3" href="#">Documentation</a><br/>
                <a class="grey-text text-lighten-3" href="#">FAQ</a>
            </div>
            <div class="col-lg-4">
                <h4>COMMUNITY</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="#">Gitter chat</a><br/>
                <a class="grey-text text-lighten-3" href="#">Stackoverflow</a><br/>
                <a class="grey-text text-lighten-3" href="#">Mailing list</a>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div><! --/footerwrap -->