<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>LEARN</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="#">Tutorial</a><br/>
                <a class="grey-text text-lighten-3" href="#">Documentation</a><br/>
                <a class="grey-text text-lighten-3" href="#">FAQ</a>
            </div>
            <div class="col-md-4">
                <h4>COMMUNITY</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="#">Gitter chat</a><br/>
                <a class="grey-text text-lighten-3" href="#">Stackoverflow</a><br/>
                <a class="grey-text text-lighten-3" href="#">Mailing list</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-google-plus-square"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div><! --/footerwrap -->